body{
    background-color: black;
    color: white;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/69e53795614615.5e9b8852294a9.gif");
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
}

.home{
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.944),rgba(0, 0, 0, 0.697),rgba(0, 0, 0, 0.084)), url("https://img.freepik.com/free-vector/wavy-minimal-lights-background_23-2148464097.jpg");
    background-size: cover;
    background-position: left;   
}
.home h1{
  font-weight: 800;
}
input::placeholder,textarea::placeholder{
    color: rgba(255, 255, 255, 0.86);
}
.icon,.skill,.ab1,.pr1,.pr2{
    background: linear-gradient(#1DBAB5,#109BBB); 
}
.ab1{
    clip-path: polygon(0 0, 0% 100%, 35% 100%);
}
.pr1{
    clip-path: polygon(99% 0, 0% 100%, 100% 100%);
    z-index: -2;
}
.pr2{
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    z-index: -2;
}
.ab2{
    clip-path: polygon(0 59%, 0% 100%, 100% 100%);
    background-image: url("https://img.freepik.com/free-vector/wavy-minimal-lights-background_23-2148464097.jpg");
    background-size: cover;
    background-position: center;
}
.about{
    font-family: "Lobster", serif;
    font-style: normal;
    letter-spacing: 1px;
}
.photo{
    background-image: radial-gradient(rgba(0, 0, 0, 0.037),rgba(0, 0, 0, 0.952)),url("assets/photo.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 10px 1px 10px 1px black;
}
.edu{
    background-image: url("https://st5.depositphotos.com/36768748/66804/i/450/depositphotos_668044702-stock-photo-abstract-cyan-halftone-dots-background.jpg");
    background-size: cover;
    background-position: top;
}
.contact{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBvVvVhFDAr0pgsz9fzsJg-1PDq9l8Gok9bYl2prPIgQDTFh8Xb9ZSKJKAlYAkoguLpa8&usqp=CAU");
    background-size: cover;
    background-position: center;
  }