body{
    background-color: black;
    color: white;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/69e53795614615.5e9b8852294a9.gif");
    background-size: cover;
    /* background-position: center; */
    background-attachment: fixed;
}

.home{
    background-image:linear-gradient(to right,rgba(0, 0, 0, 0.944),rgba(0, 0, 0, 0.697),rgba(0, 0, 0, 0.084)), url("https://img.freepik.com/free-vector/wavy-minimal-lights-background_23-2148464097.jpg");
    background-size: cover;
    background-position: left;   
}
input::placeholder,textarea::placeholder{
    color: rgba(255, 255, 255, 0.86);
}